.formUnit {
  padding: 30px 50px 30px;
  border-radius: .3em;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  &__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__text {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
    color: #4b6da1;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  &__errorArea {
    position: absolute;
    bottom: -12%;

    .errorText {
      font-size: 14px;
      color: #f56161;
      line-height: 1.65;
    }
  }

  &__item {
    +.formUnit__item {
      margin-top: 40px;
    }

    &.is-box-shadow {
      input {
        box-shadow: 2px 2px 2px 2px #00000010;
      }
    }

    .formUnit-item-text {
      margin-bottom: 10px;
      color: #454545;
      font-size: 18px;
      display: block;

      &.jp-text {
        font-weight: 600;
        font-size: 16px;
      }
    }

    input {
      background-color: #fff;
      padding: 10px;
      border-radius: .3em;
      width: 100%;
      box-sizing: border-box;
    }

    input[type="submit"] {
      padding: 15px;
      font-size: 18px;
      transition: background-color .2s, color .2s ease-in-out;

      &:hover {
        background-color: #5aa7da;
        color: #fff;
      }
    }

    .errorText {
      font-size: 14px;
      color: #f56161;
      line-height: 1.65;
    }
  }
}

.selectBox {
  position: relative;
  width: 180px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
    background: url(~/assets/image/icon/icon_arrow_black.svg) no-repeat center center / contain;
    width: 10px;
    height: 10px;
    pointer-events: none;
  }

  select {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: .3em;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 2px 2px 2px 2px #00000010;
  }
}
