// .layout-enter {}

// .layout-enter-to {}

.layout-enter-active {
  transition: opacity 1s ease-out;

  .page_Transition_bg {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
  }
}

// .layout-leave {}

// .layout-leave-to {}

.layout-leave-active {
  transition: opacity .8s ease-out;

  .page_Transition_bg {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
  }
}

.page_Transition_bg {
  content: "";
  width: 10000px;
  height: 10000px;
  margin-right: -5000px;
  margin-top: -5000px;
  top: -100px;
  right: -100px;
  display: block;
  position: fixed;
  background-color: #c7e1fa;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(.01);
  transform: scale(.01);
  z-index: 2;
}
